
#hey{
    padding-left: 250px;
    padding-right: 250px;
    background-color: aqua;
}

#colorStrip{
  background-color: #DE3163	;
  height: 50px; 
  z-index: 1029;
}

#project {
  scroll-margin-top: 100px; 
}

#about-me-text{
  scroll-margin-top:350px
}

#skills-text{
  scroll-margin-top: 100px;
}

#fixedNavbar .nav-pills .nav-link::after{
  background-color: aqua ;
}

#fixedNavbar{
  background-color: #DE3163;
}

#navbarNav2{
  margin-top: 50px;
}

.navbar-toggler-icon{
  width: 2rem;
  height: 1.5rem;
}

.container-fluid{
  padding: 10px;
}
.navbar{
    padding-left: 250px;
    padding-right: 250px;
}
.nav-pills{
    gap: 40px;
    padding-left: 20px;
}
.nav-pills .nav-link {
  font-size: 24px;
  color: black;
  position: relative;
  z-index: 1;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  overflow: hidden;
  transition: color 0.3s ease;
}


/* Animated red background fill on hover */
.nav-pills .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%; /* initial strip */
  background: #DE3163;
  z-index: -1;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: height 0.5s ease;
}

/* Expand red fill on hover + change text color */
.nav-pills .nav-link:hover::after {
  height: 100%;
}

.nav-pills .nav-link:hover {
  color: white;
}

.nav-pills .nav-link.active {
  background-color: #DE3163;
  color: white;
}

.nav-pills .nav-link.no-hover-effect {
  color: black;           
  font-weight: bold;       
  position: static;
  background: none;
  transition: none;
}

/* No hover for JA */
.nav-pills .nav-link.no-hover-effect::after {
  display: none;
}

.custom-hover-invert {
  width: 150px;
  transition: all 0.3s ease;
}

.custom-hover-invert:hover {
  background-color: black !important;
  color: white !important;
}



/*  */


