.hover-up {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover-up:hover {
  transform: translateY(-5px);
box-shadow: 0 10px 20px 8px rgba(255, 50, 70, 0.45);


}

.hover-card:hover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
box-shadow: 0 10px 20px 8px rgba(255, 50, 70, 0.45);
}


.hover-badge {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hover-badge:hover {
  transform: translateY(-5px);
  background-color: #ff3344; /* bright red or laser red look */
}


.no-select {
  user-select: none;       
  cursor: default;         
}
