/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Fonts */
#abme{
    margin-top: 80px;
}

#fixedNavbar {
  position: fixed;
  top: -90%; /* Mostly hidden (only 10% peeking out) */
  transition: top 0.2s ease-in-out;
  z-index: 1030;
  width: 100%;
}

#fixedNavbar.partial {
  top: -90%; /* Show just the top 10% of the navbar */
}

#fixedNavbar.visible {
  top: 0; /* Slide down into full view */
}

#modalLogo{
  display:flex;
  margin-left: 47.5%;
}

#btn-close{
  width: 1000px;
}

#about-me-text {
  font-size: clamp(1rem, 4vw, 2.5rem); /* Adjust values as needed */
  text-align: center;
}

#about{
  margin:0 auto;
  width: 90%;
  max-width: 1000px;
} 


#skills{
  background-color: red;
}

.col{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 120px;
  margin-right: 120px;
  padding: 2rem;
  background-color: white;
  border: 2px solid #000;
  border-radius: 20px;
}

/* for the skills to hoveru up*/
.hover-up {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover-up:hover {
  transform: translateY(-5px);
  box-shadow: 0 30px 50px 20px rgba(0, 0, 0, 0.5);
}
/*  */


.progLang{
  height: 120px;
  width: 120px;
}

h6{
  margin-top: 20px;
}




/* 
.img-fluid{
    width: 200px;
    height: 200px;   
}
 */

